@font-face {
  font-family: Seven-segments;
  src: url(fonts/Seven-Segment.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Courier New", Courier, monospace;
}

h1 {
  font-size: 60px;
  background-color: #773344;
  width: 100%;
  text-align: center;
  color: #fffcf2;
}

footer {
  background-color: #773344;
  width: 100%;
  color: #fffcf2;
  text-align: center;
}

a {
  color: #f49cbb;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #e9c46a;
}

.calculator {
  width: 300px;
  height: 480px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #403d39;
  gap: 20px;
}

.display {
  font-family: Seven-segments, "Courier New", Courier, monospace;
  height: 100px;
  background-color: #fffcf2;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 60px;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

button {
  flex: 0 1 75px;
  height: 75px;
  border-radius: 5px;
  font-size: 20px;
  transition: transform 250ms;
}

#equal {
  flex: 0 2 150px;
}

.operation:hover {
  background-color: #843b62;
  color: #fffcf2;
  transform: scale(0.9);
}

.digit:hover {
  background-color: #25a18e;
  color: #fffcf2;
  transform: scale(0.9);
}

.all-clear:hover,
.del:hover {
  background-color: #ff8552;
  transform: scale(0.9);
}

#equal:hover {
  background-color: #62929e;
  transform: scale(0.9);
}
